
// In order for the code to work, the content of the csv file needs to be in the correct order
// and needs to have valid data

PrizeModel.csv row

line id, place number, place name, (optional) prize amount, prize percentage
OR
line id, place number, place name, prize amount, (optional) prize percentage

PersonModel.csv row
line id, first name, last name, email, phone

TeamModels.csv row
id,team name,teamMember1Id|teamMember2Id|...|teamMembernId

TournamentModels.csv structure
id,tournamentName,EntryFee,TeamId1|TeamId2|TeamIdN,PrizeId1|PrizeId2|PrizeIdN,MatchupModelId1^MatchupModelId2^MatchupModelId3|MatchupModelId4^MatchupModelId5^MatchupModelId6

